{{ $file := (index .Files 0).Name }}

{lib, config, ...}:
with lib;
let
cfg = config.kde.{{ $file }};
in {
    options.kde.{{ $file }} = {
        enable = mkEnableOption "Whether {{ $file }} should be managed by Nix";

        {{/* TODO: Define configuration options. */}}
    };

    config = mkIf cfg.enable {
        {{/* TODO: Apply configuration options. */}}
    };
}
